[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
"psycopg2-binary" = "*"
Django = "*"

[dev-packages]
python-language-server = "*"
autopep8 = "*"
mccabe = "*"
pycodestyle = "*"
pydocstyle = "*"
pyflakes = "*"
rope = "*"
yapf = "*"

[requires]
python_version = "3.7"
